/*
 * Copyright (c) 2019, Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/led/led.h>

/* https://developer.toradex.com/linux-bsp/how-to/device-tree/device-tree-customization/ */

/*
 *  Break out an extra LED on general purpose I/O pin 7:
 */

/ {
        leds {
                compatible = "gpio-leds";
                led1: led_1 {
                        gpios = <&gpio0 22 GPIO_ACTIVE_HIGH>;
                };
        };

        aliases {
                red-led = &led1;
        };
};

// - DEV 0615 - attempting to assure we have device tree nodelabel to reference in DT_NODELABEL() macro:
uart_0: &uart0 {
        status = "okay";
};
